body{
	position: relative;
}

p{
	font-family: Helvetica;
}

/*HEADER*/

.page-header{
	margin-bottom: 10px;
	border-style: none;
}

@media (max-width: 768px){
	#topnavbar{
		border-style: none;
	}
}

#topnavbar{
	margin-top: 0;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 100;
	background-color: white;
	margin-bottom: 20px;
	border: none;
	z-index: 3;
}

.navbar a:hover{
	font-weight: bold;
}

#topnavbar.affix{
	position: fixed;
	width: 100%;
	top: 0;
}


/*HOMEPAGE*/



#light-heading{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

i{
	margin: 5px;
	border-radius: 50%;
	padding: 10px;
	background-color: rgba(192,192,192,0.6);
}


.box{
	min-height: 400px;
	background-attachment: relative;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	margin-bottom: 10px;
}

.box h3{
	color: white;
	background-color: rgba(192,192,192,1);
	position: relative;
	height: 50px;
	width: 100%;
	margin: 0;
	padding-top: 10px;
	padding-left: 7px;
	z-index: 2;
}

.box img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
	background-size: cover;
}

.social-buttons{
	display: inline-block;
}


/*BLOG*/

.blog-post-meta{
	margin-bottom: 20px;
	color: #999;
}

.blog-post{
	border: thin solid #999;
	border-right-style: none;
	border-left-style: none;
	margin: 12px 0 0 0;
	padding-bottom: 15px;
	
}

.blog-readmore button:hover{
	border-style: groove;
}

